VITE_FIREBASE_API_KEY=AIzaSyBgobPK7uwaAcGEUxBpi7WY7sAIDlIt5sQ
VITE_FIREBASE_AUTH_DOMAIN=mayor-plan.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mayor-plan
VITE_FIREBASE_STORAGE_BUCKET=mayor-plan.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=604154242666
VITE_FIREBASE_APP_ID=1:604154242666:web:a109449fae6dd1bd908c13
VITE_FCM_VAPID_KEY=BFZUHckVbcqVvtf4Z7ouS2XE8lVPqpIJ2LgHq4zox3_WMq1QOHUycNtH6bR6GvHUuupG7BZgDLKxGE0Z0dCITno
